<p>
  <b>Card:</b>
  <%=h @square.card_id %>
</p>

<p>
  <b>Claim:</b>
  <%=h @square.claim_id %>
</p>

<p>
  <b>Used:</b>
  <% if @square.used == true %>
    Yes
  <% else %>
    No
  <% end %>
</p>


<%= link_to 'Ändra', edit_square_path(@square) %> |
<%= link_to 'Tillbaka', squares_path %>