<h1>Ny omgång</h1>

<% form_for(@round) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <p>
    <%= f.submit 'Skapa' %>
  </p>
<% end %>

&larr; 
<%= link_to 'Tillbaka', rounds_path %>