body{
    background: #f1f1f1;
}

#content{
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-top: 3em;
    padding: 1.5em 3em 3em 3em;
    width: 700px;
}

table.card_table{
    background: #ddd;
    margin: 0 auto;
}
table.card_table td{
    background: #fff;
    height: 10em;
    padding: 1em;
    text-align: center;
    width: 10em;
}