html, body{
    background: #f1f1f1;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#content{
    margin: 0 auto;
    margin-top: 1em;
    width: 700px;
}

#container{
    background: #fff;
    border: 1px solid #ccc;
    padding: 0.5em 2em 2em 2em;
}

#menu{
    height: 2em;
    margin: 0;
    padding: 0;
}

#menu li{
    float: left;
    list-style-type: none;
    margin-right: 1em;
}

table.card_table{
    background: #ddd;
    margin: 0 auto;
}
table.card_table td{
    background: #fff;
/*    cursor: pointer;*/
    height: 8em;
    padding: 1em;
    text-align: center;
    width: 8em;
}
table.card_table td.used{
    background: lightgreen;
    color: green;
}
table.card_table td.used a{
    color: green;
    text-decoration: none;
}
table.card_table td a{
    color: black;
    display: block;
    height: 100%;
/*    padding: 1em;*/
    text-align: center;
    width: 100%;
}
table.card_table td a:hover{
/*    background: #ddd !important;*/
}

#new_card_button{
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    background: #lightgreen;
    color: #000;
    display: block;
    margin: 0 auto;
    padding: 1em 2em;
}

#new_card_button:hover{
    background: green;
    color: white;
}

#versions_table{
    
}

#versions_table th{
    text-align: left;
}

#versions_table td{
    padding-bottom: 1em;
}

#versions_table .date_column{
    width: 9em;
}

#rules_list{
    
}

#rules_list li{
    padding: 0.5em 0 1em 0;
}

#instructions_list li{
    padding: 0.5em 0 0.5em 0;
}

#cards_table{
    width: 100%;
}