html{
    height: 100%;
    width: 100%;
}

body{
    background: #f1f1f1;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

th{
    text-align: left;
    vertical-align: bottom;
}

td{
    vertical-align: top;    
}

a:hover{
    color: red;
}

form .description{
    color: #999;
    font-size: 90%;
}

form .checkbox-list{
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1em;
}

form label.checkbox_label{
    cursor: pointer;
}

form label{
    cursor: pointer;
}

.flash{
    display: block;
    margin-top: 1em;
}

.flash#error{
    color: red;
}

.flash#warning{
    color: red;
}

.flash#notice{
    color: green;
}

.flash#message{
    color: green;
}

#content{
    margin: 0 auto;
    margin-top: 1em;
    width: 700px;
}

#logo a{
    color: #000;
    padding-left: 1em;
    text-decoration: none;
}

#container{
    background: #fff;
    border: 1px solid #ccc;
    overflow: auto;
    padding: 0.5em 2em 2em 2em;
}

#footer{
    color: #999;
    font-size: 80%;
    padding: 1%;
    text-align: center;
}

#footer a{
    color: #999;
}

#footer a:hover{
    color: #666;
}

#menu{
    height: 2em;
    margin: 0;
    padding: 0;
    padding-left: 2em;
}

#menu li{
    float: left;
    list-style-type: none;
    margin-right: 1em;
}

table.card_squares_table{
    background: #fff;
    border-spacing: 1em;
    font-size: 80%;
    height: 35em;
    margin: 2em auto;
    width: 45em;
}
table.card_squares_table td{
    background: #e3e3e3;
    border: 0.5em solid #e3e3e3;
    cursor: pointer;
    padding: 3%;
    text-align: center;
    vertical-align: middle;
}

table.card_squares_table td:hover{
    border-color: #999;
}

table.card_squares_table.columns_3 td{
    height: 30%;
    width: 30%;
}

table.card_squares_table.columns_4 td{
    height: 22%;
    width: 22%;
}

table.card_squares_table.columns_5 td{
    height: 17%;
    width: 17%;
}

table.card_squares_table td a{
    display: block;
    height: 100%;
    /*
    border: 0.5em solid #e3e3e3;
    color: black;
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 5%;
    text-align: center;
    text-decoration: none;
    width: 85%;*/
}

table.card_squares_table td a span{
    display: inline-block;
    /*margin-top: 20%;*/
    vertical-align: middle;
}

table.card_squares_table td a:hover{
/*    background: #f1f1f1;*/
    border-color: #999;
/*    text-decoration: underline;*/
}

table.card_squares_table td.used{
    background: lightgreen;
    border-color: lightgreen;
    color: green;
}

table.card_squares_table td.used:hover{
    border-color: #999;
}

table.card_squares_table td.used a{
    border-color: lightgreen;
    color: black;
    text-decoration: none;
}

table.card_squares_table td.used a:hover{
    border-color: #999;
    background: lightgreen !important;
    color: black;
}


#new_card_button{
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    background: #lightgreen;
    color: #000;
    display: block;
    margin: 0 auto;
    padding: 1em 2em;
}

#new_card_button:hover{
    background: green;
    color: white;
}

#welcome_new_card_form{
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    background: #lightgreen;
    color: #000;
    display: block;
    margin: 2em auto 0 auto;
    overflow: auto;
    padding: 0.5em 2em 1em 2em;
}

#welcome_new_card_form input{
    font-size: 100%;
}

#welcome_new_card_form input#card_owner{
    /*border: none;*/
    /*
    border-top: 1px solid green;
    border-right: 1px solid #7edd76;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #7edd76;
    */
    margin-left: 0.5em;
}

#welcome_new_card_form input#card_submit{
    float: right;
}

.index_row_count{
    color: #ccc;
/*    float: right;*/
    font-size: 80%;
    margin-left: 0.5em;
}

.index_table{
    border-spacing: 0;
    width: 100%;
}

.index_table th{
    border-bottom: 1px solid #ccc;
}

.index_table td{
    font-size: 85%;
    line-height: 1.5em;
}

.index_table tr:hover td{
    background: #ddd;
}

.index_table tr:hover td.show_column a, .index_table tr:hover td.edit_column a, .index_table tr:hover td.delete_column a{
    color: #aaa;
    /*text-decoration: underline;*/
}

.show_column{
    text-align: right;
    width: 2.5em;
}

.edit_column{
    text-align: right;
    width: 3em;
}

.delete_column{
    font-weight: bold;
    text-align: center;
    width: 1.5em;
}

.show_column a, .edit_column a, .delete_column a{
    color: #ccc;
    display: block;
    text-decoration: none;
}

.show_column a:hover, .edit_column a:hover, .delete_column a:hover{
    color: red !important;
}

.used_column{
    text-align: right;
    width: 5.5em;
}

.used_percent_column{
    text-align: right;
    width: 2.5em;
}

.points_column{
    text-align: right;
    width: 4em;
}

.used_column .totals{
    color: #ccc;
}

.points_column .totals{
    color: #ccc;
}

#claims_table td.claim_column{
    /*font-size: 80%;*/
}

#versions_table{
    
}

#versions_table th{
    text-align: left;
}

#versions_table td{
    padding-bottom: 1em;
}

#versions_table .date{
    color: #888;
    width: 9.5em;
}

#round_card_size_radio_buttons{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#round_card_size_radio_buttons li{
    float: left;
    height: 6.5em;
    text-align: center;
    width: 25%;
}

#round_card_size_radio_buttons li label{
    cursor: pointer;
    display: block;
    padding: 10% 5%;
}

#round_card_size_radio_buttons li label:hover{
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    background: #eee;
}

a.button{
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    background: #eee;
    border: 0.1em solid #ccc;
    color: #666;
    float: right;
    display: inline-block;
    padding: 0.5em 0.8em;
    text-decoration: none;
}

a.button:hover{
    background: #f3f3f3;
    color: #000 !important;
}

a.button.new{
/*
    background: lightgreen;
    color: green;
*/
}

#rules_list{
    
}

#rules_list li{
    padding: 0.5em 0 1em 0;
}

#instructions_list li{
    padding: 0.5em 0 0.5em 0;
}

#cards_table{
    width: 100%;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}