<ul id="welcome_menu" title="Oppositionsbingo" selected="true">
    <li><%= link_to 'Omgångar', rounds_path %></li>
    <li><%= link_to 'Påståenden', claims_path %></li>
    <li><%= link_to 'Taggar', tags_path %></li>
</ul>