<h2>Vad är Oppositionsbingo?</h2>
<p>
  Det här är ett bingo där man får en bricka med slumpade rutor. Varje ruta är ett påstående som kan bli sant någon gång under redovisningarna. 
  Markera då den rutan. När du fått 3 rutor i rad så har du fått bingo. Då är det kotym att ropa BINGO!
</p>

<div id="welcome_new_card_form">
<% form_for(@card) do |f| %>
  <h2>Skaffa en bingobricka</h2>
  <%= f.error_messages %>

  <p>
    <%= f.label :owner, 'Vad heter du?' %>
    <%= f.text_field :owner %>
    <%= f.submit 'Ge mig en bingobricka &rarr;' %>
  </p>
<% end %>
</div>

<h3>"Disclaimer"</h3>

<p>
  Den här produkten påbörjades idag (onsdagen 13:e januari) och har nyss lanserats. Ha lite tålamod och kom gärna med önskemål om nya funktioner.
</p>
<p>
  Mvh Victor
</p>