<h1>Vad är oppositionsbingo?</h1>
<p>
  Det här är ett bingo där man får en bricka med slumpade rutor. Varje ruta är ett påstående som kan bli sant någon gång under redovisningarna. 
  Markera då den rutan. När du fått 3 rutor i rad så har du fått bingo. Då är det kotym att ropa BINGO!
</p>

<div id="welcome_new_card_form">

<% form_for(@card) do |f| %>
  <h2>Skaffa en bingobricka</h2>
  <%= f.error_messages %>
  <%= render :partial => 'cards/form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Ge mig en bingobricka! &rarr;' %>
  </p>
<% end %>

<script type="text/javascript" charset="utf-8">
  document.forms[0].card_owner.focus();
</script>

</div>

<% if iphone_user_agent? %>
  Du har en ipown och formatet: <%= params[:format] %>
<% end %>