<h1>Oppositionsbingo</h1>

<p>
  Det här är ett bingo där man får en bricka med slumpade rutor. Varje ruta är ett påstående som kan bli sant någon gång under redovisningarna. 
  Markera då den rutan (OBS! Markering av rutor ej implementerat ännu). När du fått 3 rutor i rad så har du fått bingo. Då är det kotym att ropa BINGO!
</p>

<h3>Följande delar finns i systemet:</h3>
<ul>
  <li><%= link_to 'Bingobrickor', cards_path %></li>
  <li><%= link_to 'Påståenden', claims_path %></li>
</ul>

<p>
  Den här produkten påbörjades idag (onsdagen 13:e januari) och har nyss lanserats. Ha lite tålamod och kom gärna med önskemål om nya funktioner.
</p>