<h2>Versioner</h2>

<p>Här skriver jag lite om ändringarna som gjorts, för de som är nyfika på vad som händer med prototypen. </p>

<table id="versions_table">
  <tr>
    <th class="date_column">Datum:</th>
    <th class="change_column">Ändrat:</th>
  </tr>
  <tr>
    <td>2010-01-13 17:31</td>
    <td>Versionsinfo (denna sidan) online. Felet med att många klick krävdes för att markera en ruta som "använd" fixat. </td>
  </tr>
  <tr>
    <td>2010-01-13 13:48</td>
    <td>En fix som löser problemet med "flyttande rutor" är online. Tyvärr gäller den bara för nyskapade brickor sedan efter ändringen.</td>
  </tr>
  <tr>
    <td>2010-01-13 13:17</td>
    <td>Nu kan påståenden på ens bingoruta markeras som 'använda'.</td>
  </tr>
  <tr>
    <td>2010-01-13 11:12</td>
    <td>Styling. Grå bakgrund och vit ruta i mitten.</td>
  </tr>
  <tr>
    <td>2010-01-13 11:04</td>
    <td>Startsida med introtext fixad.</td>
  </tr>
  <tr>
    <td>2010-01-13 10:54</td>
    <td>När man skapar en bingobricka läggs det nu automagiskt till 9st slumpade påståenden till brickan.</td>
  </tr>
  <tr>
    <td>2010-01-13 09:53</td>
    <td>Upptäckte en miss i startjobbet, tog bort all kod och började om från början.</td>
  </tr>
  <tr>
    <td>2010-01-13 09:27</td>
    <td>Projektet startade.</td>
  </tr>
</table>