<h1>Versioner</h1>

<p>Här skriver jag lite om ändringarna som gjorts, för de som är nyfika på vad som händer med prototypen. </p>

<table id="versions_table" class="index_table">
  <tr>
    <th>Ändringar:</th>
    <th>Datum:</th>
  </tr>
  <tr>
    <td>Under påståenden finns nu statistik för hur många som markerat ett påstående som "inträffat".</td>
    <td class="date">2010-01-14 09:30</td>
  </tr>
  <tr>
    <td>Bättre startvy med ett formulär för att skapa sin första bingobricka direkt.</td>
    <td class="date">2010-01-13 19:22</td>
  </tr>
  <tr>
    <td>Versionsinfo (denna sidan) online. Felet med att många klick krävdes för att markera en ruta som "använd" fixat. </td>
    <td class="date">2010-01-13 17:31</td>
  </tr>
  <tr>
    <td>En fix som löser problemet med "flyttande rutor" är online. Tyvärr gäller den bara för nyskapade brickor sedan efter ändringen.</td>
    <td class="date">2010-01-13 13:48</td>
  </tr>
  <tr>
    <td>Nu kan påståenden på ens bingoruta markeras som 'använda'.</td>
    <td class="date">2010-01-13 13:17</td>
  </tr>
  <tr>
    <td>Styling. Grå bakgrund och vit ruta i mitten.</td>
    <td class="date">2010-01-13 11:12</td>
  </tr>
  <tr>
    <td>Startsida med introtext fixad.</td>
    <td class="date">2010-01-13 11:04</td>
  </tr>
  <tr>
    <td>När man skapar en bingobricka läggs det nu automagiskt till 9st slumpade påståenden till brickan.</td>
    <td class="date">2010-01-13 10:54</td>
  </tr>
  <tr>
    <td>Upptäckte en miss i startjobbet, tog bort all kod och började om från början.</td>
    <td class="date">2010-01-13 09:53</td>
  </tr>
  <tr>
    <td>Projektet startade.</td>
    <td class="date">2010-01-13 09:27</td>
  </tr>
</table>