<h2>Versioner</h2>

<p>Här skriver jag lite om ändringarna som gjorts, för de som är nyfika på vad som händer med prototypen. </p>

<h3>2010-01-13 13:48</h3>
<p>
  En fix som löser problemet med "flyttande rutor" är online. Tyvärr gäller den bara för nyskapade brickor sedan efter ändringen. 
</p>

<h3>...</h3>

<p>
  Här gjordes lite jobb. Mer info om det kommer sen. 
</p>

<h3>2010-01-13 09:27</h3>
<p>
  Projektet startade.
</p>