<h1>Alla bingobrickor <% unless @cards.nil? %><span class="index_row_count"><%= @cards.length %>st</span><% end %></h1>

<%= render :partial => 'table', :locals => { :cards => @cards } %>

<br />

<%= link_to '+ Ny bingobricka', new_card_path, { :class => 'button new' } %>