<h1>Alla bingobrickor <span class="index_row_count"><%= @cards.length %>st</span></h1>

<%= render :partial => 'table', :locals => { :cards => @cards } %>

<br />

<%= link_to 'Ny bingobricka', new_card_path, { :class => 'button new' } %>