<h1>Regler</h1>
<ol id="rules_list">
  <li>För att få bingo ska man få <strong>3 i rad</strong> (vågrätt, lodrätt eller diagonalt).</li>
  <li>Bingo skall uttryckas tydligt.</li>
  <li>Man kan också få <strong>full bricka</strong> när alla påståenden på ens bricka har inträffat.</li>
  <li>Full bricka ska uttryckas tydligare.</li>
</ol>