<h2>Regler</h2>
<ol id="rules_list">
  <li>Eftersom prototypen tog ett tag att få igång så gäller endast saker som hänt <strong>efter</strong> lunchpausen idag (onsdag 13:e januari).</li>
  <li>För att få bingo ska man få <strong>3 i rad</strong>. Alltså både vågrätt, lodrätt och diagonalt.</li>
  <li>Man kan också få <strong>full bricka</strong> när alla påståenden/rutor på ens bricka är uppfyllda.</li>
</ol>